Web References/com.villagemanagementsoftware.VMSCollectionXChange/VMSCollectionXChange.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://document.villagemanagementsoftware.com/xmlvalidation/vmscollection.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://document.villagemanagementsoftware.com/xmlvalidation/vmscollection.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://document.villagemanagementsoftware.com/xmlvalidation/vmscollection.xsd">
      <s:element name="CollectionSynchronization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartnerKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LastSyncDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SendAll" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectionSynchronizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectionSynchronizationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectionSynchronizationDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartnerKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LastSyncDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SendAll" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectionSynchronizationDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectionSynchronizationDSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CollectionSynchronizationSoapIn">
    <wsdl:part name="parameters" element="tns:CollectionSynchronization" />
  </wsdl:message>
  <wsdl:message name="CollectionSynchronizationSoapOut">
    <wsdl:part name="parameters" element="tns:CollectionSynchronizationResponse" />
  </wsdl:message>
  <wsdl:message name="CollectionSynchronizationDSSoapIn">
    <wsdl:part name="parameters" element="tns:CollectionSynchronizationDS" />
  </wsdl:message>
  <wsdl:message name="CollectionSynchronizationDSSoapOut">
    <wsdl:part name="parameters" element="tns:CollectionSynchronizationDSResponse" />
  </wsdl:message>
  <wsdl:portType name="VMSCollectionXChangeSoap">
    <wsdl:operation name="CollectionSynchronization">
      <wsdl:input message="tns:CollectionSynchronizationSoapIn" />
      <wsdl:output message="tns:CollectionSynchronizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectionSynchronizationDS">
      <wsdl:input message="tns:CollectionSynchronizationDSSoapIn" />
      <wsdl:output message="tns:CollectionSynchronizationDSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VMSCollectionXChangeSoap" type="tns:VMSCollectionXChangeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CollectionSynchronization">
      <soap:operation soapAction="http://document.villagemanagementsoftware.com/xmlvalidation/vmscollection.xsd/CollectionSynchronization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectionSynchronizationDS">
      <soap:operation soapAction="http://document.villagemanagementsoftware.com/xmlvalidation/vmscollection.xsd/CollectionSynchronizationDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VMSCollectionXChangeSoap12" type="tns:VMSCollectionXChangeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CollectionSynchronization">
      <soap12:operation soapAction="http://document.villagemanagementsoftware.com/xmlvalidation/vmscollection.xsd/CollectionSynchronization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectionSynchronizationDS">
      <soap12:operation soapAction="http://document.villagemanagementsoftware.com/xmlvalidation/vmscollection.xsd/CollectionSynchronizationDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VMSCollectionXChange">
    <wsdl:port name="VMSCollectionXChangeSoap" binding="tns:VMSCollectionXChangeSoap">
      <soap:address location="http://vmsxchange.tssvendor.com/VMSCollectionXChange.asmx" />
    </wsdl:port>
    <wsdl:port name="VMSCollectionXChangeSoap12" binding="tns:VMSCollectionXChangeSoap12">
      <soap12:address location="http://vmsxchange.tssvendor.com/VMSCollectionXChange.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>